# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS & editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build output
dist/
build/

# Test coverage
coverage/
